<div class="container">

<div class="containerLogin">
    <a href="http:/api/session/github"> <button class="ingresar"> Ingresar con Github</button></a>

<div class="login">
<h3>Iniciar Sesión</h3>
<form action="/api/session/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit" class="ingresar">Ingresar</button>
</form>
<a href="http:/api/views/enviarLink">¿Olvidaste tu contraseña?</a>

<a href="http:/api/views/register">Registrarse</a>

</div>

</div>

</div>









