<div class="container">
    <div class="containerLogin">
        <div class="login">
            <h3>Enlace de restablecimiento expirado</h3>
            <p>El enlace de restablecimiento de contraseña ha expirado. Por favor, solicita un nuevo enlace.</p>
            <form action="/api/session/reestablecerPassword" method="POST">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
                <button type="submit" class="ingresar">Enviar nuevo enlace de restablecimiento</button>
            </form>
            <a href="/api/views/login">Volver a login</a>
        </div>
    </div>
</div>
