<div class="container">

<div class="containerLogin">

<div class="login">
<h3>Cambiar contraseña</h3>
<form action="/api/session/changepassword" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="current-password">Contraseña actual:</label>
    <input type="password" name="current-password" required>
    <label for="new-password">Nueva contraseña:</label>
    <input type="password" name="new-password" required>
    <button type="submit" class="ingresar">Guardar cambios</button>
</form>
<a href="/api/views/login">Volver a login</a>


</div>
</div>

</div>





