<div class="container">


    <div class="perfil">
    <h2>¡Gracias por tu compra!</h2>
        <h4>Los detalles de tu compra fueron enviados a tu email {{ticket.email}} </h4>
    </div>
    <div class="volver">
        <a href="/api/views/home">Volver a home</a>
    </div>
</div>