.hidden{
    display: none;
}
.container{
    padding: 10px;
    height: 96vh;
    text-align: center;
}
.contenedorCarts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.carts{
    border: 2px solid gray;
    border-radius: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
}
.infoFoto{
    width: 150px;
    height: 150px;
    align-items: center;
    text-align: center;
    background: gray;
    padding: 10px;
    background-image: url();
}
.infoFoto strong{
    font-size: 10px;
}
.btnDetail{
    width: 150px;
    background: gray;
    color: black;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    align-items: center;
    text-align: center;
}

.paginate{
    padding: 10px;
    font-weight: bolder;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
 .paginate a{
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid gray;
    align-items: center;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.btnCarrito{
    width: 150px;
    background: gray;
    color: black;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
}
.container h2{
    text-align: center;
    align-items: center;
}
.containercart{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

}
.cartDetail{
    border: 2px solid gray;
    border-radius: 10px;
    width: 850px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}
.infoFotoDetail{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.infoD{
    width: 300px;
    height: 315px;
    padding: 6px;
    font-size: 20px;
    align-items: center;
    text-align: center;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    border-radius: 10px;
    
}
.volver a{
    text-decoration: none;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid gray;
    align-items: center;
    border-radius: 10px;
    color: black;
}

.contenedorFilter{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sectionCategory{
    width: 200px;
    padding: 10px;
}
.category{
    border: 4px solid gray;
    width: 209px;
    height: 40px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px;
    color: gray;
}
.category option{
    background: none;
    color: black;
    font-weight: bold;
}
.sectionInput{
    width: 750px;
    height: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Limite{
    width: 50px;
    height: 20px;
    padding: 4px;
    font-weight: bold;
}
.limit{
    width: 60px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
.buscador{
    width: 250px;
    border-radius: 20px;
    border: 2px solid gray;
    padding: 10px;
}
.precios{
    width: 120px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border: none;
}
.precios option{
    background: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.btn{
    width: 150px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background: gray;
    border: none;
}
.carrito{
    background: gray;
    width: 90%;
    align-items: center;
    height: 400px;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
}
.infoFotoCart{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.carrito li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.btnEliminar{
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background: aliceblue;
    border: none;
}
.total{
    display: block;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.lista{
    background: gray;
    width: 550px;
    align-items: center;
    color: aliceblue;
}
.saludo{
    padding: 5px;
    width: 98%;
    border: 2px solid gray;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logo{
    color: gray;
    font-weight: bolder;
    letter-spacing: 2px;
}

.boton{
    display: flex;
    width: 500px;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.btnPerfil{
    width: 120px;
    padding: 10px;
    background: gray;
    color: aliceblue;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    text-decoration: none;
}
.btnCarrito{
    width: 120px;
    padding: 10px;
    background: gray;
    color: aliceblue;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 12px;
}
.btnCarrito a{
     text-decoration: none;
     color: aliceblue;
}
.btnCerrar{
    width: 120px;
    padding: 10px;
    background: gray;
    color: aliceblue;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 12px;
}
.containerREALTIME{
    padding: 10px;
    height: 96vh;
    
}
.containerForm{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}
.form{
    background-color: gray;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    font-weight: bold;
}
.btnA{
    width: 150px;
    border: 2px solid aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

}
.form input{
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
.listaP{
    width: 750px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 450px; 
    overflow-y: scroll; 

}
.listaP button{
    background: gray;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    font-weight: bold;
}
.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login{
    background: gray;
    width: 550px;
    height: 400px;
    padding: 10px;
    color: aliceblue;
    align-items: center;
    text-align: center;
    border-radius: 10px;

    
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    padding: 10px;
    
}
.login input{
    width: 200px;
    border-radius: 10px;
    padding: 6px;
    border:none;
}
.ingresar{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
}
.login a{
    color: aliceblue;
    text-decoration: none;
}
.formRegister{
    background-color: gray;
    width: 800px;
    height: 550px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
.formRegister form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.formRegister input{
    width: 200px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    

}
.formRegister a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
.perfil{
    border: 2px solid gray;
    width: 500px;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}